In [52]:
##Program to print the number divided by 7 but not a multiple of 5 in range between 2000 and 3200 both number included
a = []  #list creation
for i in range(2000,3201):
  if i%7==0:
    if i%5>1:
      a.append(i)     
      
print('Number Divided by 7 but not a Multiple of 5 are : ',a)

Number Divided by 7 but not a Multiple of 5 are :  [2002, 2009, 2023, 2037, 2044, 2058, 2072, 2079, 2093, 2107, 2114, 2128, 2142, 2149, 2163, 2177, 2184, 2198, 2212, 2219, 2233, 2247, 2254, 2268, 2282, 2289, 2303, 2317, 2324, 2338, 2352, 2359, 2373, 2387, 2394, 2408, 2422, 2429, 2443, 2457, 2464, 2478, 2492, 2499, 2513, 2527, 2534, 2548, 2562, 2569, 2583, 2597, 2604, 2618, 2632, 2639, 2653, 2667, 2674, 2688, 2702, 2709, 2723, 2737, 2744, 2758, 2772, 2779, 2793, 2807, 2814, 2828, 2842, 2849, 2863, 2877, 2884, 2898, 2912, 2919, 2933, 2947, 2954, 2968, 2982, 2989, 3003, 3017, 3024, 3038, 3052, 3059, 3073, 3087, 3094, 3108, 3122, 3129, 3143, 3157, 3164, 3178, 3192, 3199]

In [53]:
# Program to take input and print the name in reverse order with space
val = input("Enter your First Name: ")
val1 = input("Enter your Last Name: ")
print(val1 +' '+ val)

Enter your First Name: Jubin
Enter your Last Name: George
George Jubin

In [54]:
# Program to find the volume of the sphere
import math
pi = math.pi
#Converting Diameter into radius
r = float(12/2)
V = (float(4/3)*(pi)*(r)**3)
print(V)

904.7786842338603